<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>filters</h1>
        
        {{filter}} <br>
        {{filter|lower}} <br>
        {{filter|upper}} <br>
        {{filter|capfirst}} <br>
        {{filter|title}} <br>
        {{filter|length}} <br>
        {{filter|truncatechars:'10'}} <br>
        {{filter|truncatewords:'2'}} <br>
        {{filter|slice:'14'}} <br>
        {{t|date:'D M Y P '}} <br>

        <h2>i have {{a}} apple{{a|pluralize}}</h2>
        <h2>i have {{a}} mango{{a|pluralize:'es'}}</h2>
        <h2>this cat{{a|pluralize}} {{a|pluralize:'is,are'}} mine</h2>

    

    </center>
</body>
</html>